@layer base {
  a {
    color: var(--anchor-color);
  }

  a:hover {
    color: var(--anchor-color-hover);
  }

  a:focus {
    color: var(--anchor-color-focus);
  }

  a:active {
    color: var(--anchor-color-active);
  }

  a:visited {
    color: var(--anchor-color-visited);
  }
}
