@layer base {
  .avtor-card {
    border: 2px solid var(--neutral-dark-color);
    padding: 0.5rem;
  }

  .avtor-card h3::before {
    content: "";
  }

  .avtor-card h3 {
    margin-top: 0;
  }

  .avtor-card section {
    display: flex;
    flex-direction: column;
  }
}
