@layer utils {
  /* Da, bolj spada v base, a rabimo specifičnost. */
  blockquote p {
    text-indent: 0;
  }
}

@layer base {
  blockquote {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-left: 1rem;
    margin-left: 2rem;
    border-left: 2px solid var(--tertiary-color);

    margin-bottom: 1rem;
  }

  blockquote p:empty {
    /* Ker vstavljamo block level elemente, nas hugo ne mara in vstavi prazne paragrafe. */
    display: none;
  }

  blockquote p {
    font-size: 1.125rem;
    color: var(--neutral-dark-color);
  }
}
