@layer global {
  * {
    padding: 0;
    margin: 0;
  }

  span {
    font-size: inherit;
  }

  body {
    min-height: 100dvh;

    background-color: var(--neutral-light-color);
    font-family: "NotoSans", "NotoSans Symbols2";
    font-size: 1rem;
  }
}

figure {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}

figure img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

figure figcaption {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
  text-align: center;
}
