@layer base {
  /* Fonts. */
  @font-face {
    font-family: "EB Garamond";
    src: url("/EBGaramond-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 400;
    font-optical-sizing: auto;
  }

  @font-face {
    font-family: "NotoSans";
    font-optical-sizing: auto;

    src: url("/NotoSans-VariableFont_wdth,wght.ttf")
      format("truetype-variations");
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  @font-face {
    font-family: "NotoSans Symbols2";
    font-optical-sizing: auto;

    src: url("/NotoSansSymbols2-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSans Italic";
    font-optical-sizing: auto;

    src: url("/NotoSans-Italic-VariableFont_wdth,wght.ttf")
      format("truetype-variations");
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "wdth" 100;
  }

  /* https://typescale.com/ */
  /* Major second mobile, Major third large. */

  em,
  .italic {
    font-family: "NotoSans Italic";
  }

  h1 {
    font-size: 2.027rem;
    font-family: "EB Garamond";

    text-align: left;
  }

  h2 {
    font-size: 1.802rem;
    font-family: "EB Garamond";

    text-align: left;
  }

  h3 {
    font-size: 1.602rem;
    font-family: "EB Garamond";

    text-align: left;
  }

  h4 {
    font-size: 1.424rem;
    font-family: "EB Garamond";

    text-align: left;
  }

  h5 {
    font-size: 1.266rem;
    font-family: "EB Garamond";

    text-align: left;
  }

  h6 {
    font-size: 1.125rem;
    font-family: "EB Garamond";

    text-align: left;
  }

  small {
    font-size: 0.889rem;
  }
}

@layer screen-lg {
  @media (width >= 1280px) {
    /* https://typescale.com/ */
    /* Major second mobile, Major third large. */

    h1 {
      font-size: 3.815rem;
    }

    h2 {
      font-size: 3.052rem;
    }

    h3 {
      font-size: 2.441rem;
    }

    h4 {
      font-size: 1.953rem;
    }

    h5 {
      font-size: 1.563rem;
    }

    h6 {
      font-size: 1.25rem;
    }

    small {
      font-size: 0.8rem;
    }
  }
}
