/* Grids */

@layer utils {
  /* Te definiramo spodaj za velike zaslone. */
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .grid-12 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .col-span-2 {
    grid-column: span 1;
  }

  .col-span-8 {
    grid-column: span 1;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .gap-1 {
    gap: 0.5rem;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .primary-color {
    color: var(--primary-color);
  }

  .secondary-color {
    color: var(--secondary-color);
  }

  .tertiary-color {
    color: var(--tertiary-color);
  }

  a.unstyled {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }

  li.unstyled {
    list-style: none;
    margin: 0;
  }

  .ml-auto {
    margin-left: auto;
  }

  .font-symbols {
    font-family: "NotoSans Symbols2";
  }
}

@layer screen-lg {
  @media (width >= 1280px) {
    .grid-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
    }

    .grid-4 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
    }

    .grid-12 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1em;
    }

    .col-span-2 {
      grid-column: span 2;
    }

    .col-span-8 {
      grid-column: span 8;
    }
  }
}
