:root {
  --primary-color: #9b2915;
  --secondary-color: #50a2a7;
  --tertiary-color: #e9b44c;
  --neutral-dark-color: #44403c;
  --neutral-light-color: #f5f5f4;

  --anchor-color: #0369a1;
  --anchor-color-visited: #7e22ce;
  --anchor-color-hover: #1d4ed8;
  --anchor-color-active: #1e3a8a;
  --anchor-color-focus: var(--anchor-color-hover);

  --indent: 2.5em;
  --aside-column-width: 12em;
  --main-column-width: 52em;
  --reading-line-height: 1.75em;
  --column-gap: 1em;
  --article-margin: 1rem;

  /* gap between columns */
  --article-width: calc(
    var(--aside-column-width) + var(--column-gap) + var(--main-column-width) +
      var(--column-gap) + var(--aside-column-width)
  );

  /* margin on each side */
  /* we cannot use vars in media&container queries. */
  /* so replace it in them by hand. */
  --screen-lg: calc(
    var(--article-margin) + var(--article-width) + var(--article-margin)
  );
}
