{{ $image := .Page.Resources.Get .Destination }}
{{ $webp := $image.Process "webp" }}

{{- if .IsBlock -}}
<figure>
    <img src="{{ $webp.Permalink | safeURL }}" width="{{ $webp.Width }}" height="{{ $webp.Height }}" {{- with .Text }}
        alt="{{ . }}" {{ end -}}>
    <figcaption>{{ .Title | markdownify }}</figcaption>
</figure>
{{- else -}}
<img src="{{ $webp.Permalink | safeURL }}" width="{{ $webp.Width }}" height="{{ $webp.Height }}" {{- with .Text }}
    alt="{{ . }}" {{ end -}} {{- with .Title }} title="{{ . }}" {{ end -}}>
{{- end -}}