<header>
    <hgroup>
        {{ if .Section }}
            <h2 class="primary-color">
                <a href="/{{ .Section }}" class="unstyled">{{ .Section | humanize }} <span class="font-symbols">❧</span></a>
            </h2>
        {{ end }}

        <h1>{{ .Title }}</h1>
    </hgroup>

    <aside>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}

        {{ if .Params.avtorji }}
            <section>
                {{ range .Params.avtorji  }}
                <a href='{{ "/avtorji/" | absURL }}{{ . | urlize }}'> {{ . }}</a>
                {{ end }}

                | <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </section>
        {{ end }}
    </aside>
</header>