<li class="unstyled card">
    <a href="{{ .Permalink }}" class="unstyled">
        <section>
            <h3>{{ .Title }}</h3>

            <div>
                {{ .Summary | truncate 120 " ..." }}
            </div>

            <a href="{{ .Permalink}}" class="ml-auto">Preberite več</a>
        </section>
    </a>
</li>