<small><span class="secondary-color font-symbols">❧</span> © {{ now.Year }} {{ range .Site.Params.defaultAvtorji  }}
    <a href="{{ "/avtorji/" | absURL }}{{ . | urlize }}"><small>{{ . }}</small></a>
    {{ end }} in drugi avtorji.</small>

<small>
    <span class="secondary-color font-symbols">❧</span> Uporaba dovoljenja skladno z licenco
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0 DEED</a>.
</small>

<small>
    <span class="secondary-color font-symbols">❧</span> Širša raba možna po dogovoru, pišite mi.
</small>