@layer base {
  article {
    width: calc(100% - 2 * var(--article-margin));
    max-width: var(--article-width);
    margin-left: var(--article-margin);
    margin-right: var(--article-margin);
  }

  article main {
    position: relative; /* Potrebno za poračun offsetTop otrok. */
  }

  article main p {
    text-align: justify;
    text-indent: var(--indent);
    line-height: var(--reading-line-height);

    margin-bottom: 0.3rem;
  }

  article header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.3rem;

    border-bottom: 4px solid var(--primary-color);
    margin-bottom: 2rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  article > main {
    width: 100%;
    max-width: var(--main-column-width);
    margin-left: auto;
    margin-right: auto;
  }
}
