@layer base {
  article {
    counter-reset: h2 sidenote;
  }

  article header h1 {
    border: 0;
    margin: 0;
  }

  article main h1 {
    border-bottom: 4px solid var(--primary-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  article main h2:before {
    counter-increment: h2;
    content: counter(h2) ". ";
    color: var(--secondary-color);
  }

  article main h2 {
    counter-reset: h3;

    border-bottom: 4px solid var(--secondary-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  article main h3:before {
    content: counter(h2) ". " counter(h3) ". ";
    counter-increment: h3;
    color: var(--tertiary-color);
  }

  article main h3 {
    counter-reset: h4;

    border-bottom: 4px solid var(--tertiary-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  article main h4:before {
    content: counter(h2) ". " counter(h3) ". " counter(h4) ". ";
    counter-increment: h4;
    color: var(--primary-color);
  }

  article main h4 {
    counter-reset: h5;

    border-bottom: 2px dashed var(--primary-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  article main h5:before {
    content: counter(h2) ". " counter(h3) ". " counter(h4) ". " counter(h5) ". ";
    counter-increment: h5;
    color: var(--secondary-color);
  }

  article main h5 {
    counter-reset: h6;

    border-bottom: 2px dashed var(--secondary-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  article main h6:before {
    content: counter(h2) ". " counter(h3) ". " counter(h4) ". " counter(h5) ". "
      counter(h6) ". ";
    counter-increment: h6;
    color: var(--tertiary-color);
  }
}

article main h6 {
  border-bottom: 2px dashed var(--tertiary-color);
  margin-bottom: 1rem;
  margin-top: 2rem;
}
