@layer screen-lg {
  @media (width >= 1280px) {
    article header {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 0;

      max-width: var(--main-column-width);
    }

    article header h2 {
      font-size: 1rem;
    }

    article div.grid {
      display: grid;
      grid-template-columns:
        var(--aside-column-width) var(--main-column-width)
        var(--aside-column-width);
      gap: var(--column-gap);
    }

    article aside {
      line-height: var(--reading-line-height);
      position: relative;
    }

    article aside#summaries {
      display: flex;
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
    }

    article aside#sidenotes {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;

      border-top: initial;
      padding-top: initial;
      margin-top: initial;
    }

    article span.summary {
      position: absolute;
    }

    .sidenote .sidenote-ref {
      margin-top: -3px; /* Poravna sidenote z referenco v tekstu. */
    }

    article aside div.sidenote {
      position: absolute;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    article aside div.sidenote div.sidenote-content {
      padding-left: 0.5rem;
      border-left: 2px solid var(--neutral-dark-color);
    }
  }
}
