/* Številska oznaka robne opombe. */
@layer base {
  .sidenote-ref {
    font-weight: 500;
  }

  a.sidenote-ref {
    color: var(--tertiary-color);
    text-decoration: none;
  }

  a.sidenote-ref:hover {
    color: var(--tertiary-color);
    text-decoration: none;
  }

  a.sidenote-ref:focus {
    color: var(--tertiary-color);
    text-decoration: none;
  }

  a.sidenote-ref:active {
    color: var(--tertiary-color);
    text-decoration: none;
  }

  a.sidenote-ref:visited {
    color: var(--tertiary-color);
    text-decoration: none;
  }
}
