/* Robne opombe so na telefonih na dnu, s povezavami nazaj v tekst. */
@layer base {
  article aside#sidenotes {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    border-top: 2px dashed var(--primary-color);

    margin-top: 2rem;
    padding-top: 1rem;
    gap: 1rem;
  }

  .sidenote {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .sidenote-content {
    margin-top: -3px;
  }
}
