/* Povzetki odstavka - telefonsko jih kažemo inline na začetku odstavka. */

@layer base {
  article aside#summaries {
    display: none;
  }

  span.summary {
    position: initial;
    font-style: italic;
  }
}
