<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header class="site">
    {{ partial "header.html" . }}

    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </header>

  <main class="site">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="site">
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>