{{ define "main" }}

<article>
  {{ partial "article-header.html" . }}

  <main>
    <section>
      <main>
        {{ .Content }}
      </main>
    </section>

    <section>
      <h2>Najnovejši prispevki</h2>

      <nav>
        <ul class="grid-3">
          {{ $sections := slice "prijemi" "anekdote" }}
          {{ $allPages := where .Site.RegularPages "Section" "in" $sections }}
          {{ $sortedPages := sort $allPages "Date" "desc" }}
          {{ $latestPages := first 9 $sortedPages }}
          {{ range $latestPages }}
          {{ partial "card.html" . }}
          {{ end }}
        </ul>
      </nav>
    </section>

  </main>
</article>

{{ end }}