{{ define "main" }}

<article>
  {{ partial "article-header.html" . }}

  <main>
    {{ if .Content }}
    <section>
      <main>
        {{ .Content }}
      </main>
    </section>

    <h2>Prispevki:</h2>
    {{ end }}

    <nav>
      <ul class="grid-3">
        {{ range .Pages }}
        {{ partial "card.html" . }}
        {{ end }}
      </ul>
    </nav>
  </main>
</article>

{{ end }}