{{ define "main" }}

<article>
  {{ partial "article-header.html" . }}

  <div class="grid">
    <aside id="summaries">
    </aside>

    <main>
      {{ .Content }}
    </main>

    <aside id="sidenotes">
    </aside>
  </div>

  <footer>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </footer>
</article>

{{ end }}