@layer base {
  footer.site {
    width: 100%;

    border-top: 2px solid var(--neutral-dark-color);
    padding: 1rem;
    margin-top: 8rem;

    line-height: var(--reading-line-height);

    display: flex;
    flex-direction: column;
  }
}

@layer screen-lg {
  @media (width >= 1280px) {
    footer.site {
      padding: 4rem;
    }
  }
}
