@layer base {
  header.site {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
    padding-top: 0.5rem;

    border-bottom: 2px solid var(--neutral-dark-color);
  }

  header.site h1 {
    font-size: 1.563rem !important;
    line-height: 1.563rem !important;
    font-family: "EB Garamond";
    line-height: var(--reading-line-height);

    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  header.site ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  header.site ul li {
    list-style: none;
  }

  header.site ul li a {
    color: initial;
    font-family: "EB Garamond";
    text-decoration: none;
    font-weight: 600;
  }
}

@layer screen-lg {
  @media (width >= 1280px) {
    header.site {
      padding-left: 4rem;
      padding-right: 4rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
